body {
    background-color:aquamarine;
}

header{
    color:blue;
    font-size:250%;
    font-style:italic;
    text-align:center;
    text-shadow: 5px 2px 4px grey;
}


h1{
    color:blue;
    font-size:250%;
    font-style:italic;
    text-align:left;
    text-shadow: 5px 2px 4px grey;
}

tr{
    color:blue;
    font-size:150%;
    font-style:italic;
}

footer{
    color:blue;
    font-size:100%;
    font-style:italic;
    text-align:center;
    vertical-align: bottom;
}